@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --lang: Roboto;
    --colors-white: #fff;
	--colors-black: #000;
	--colors-blue-800: #242742;
	--colors-blue-700: #36384d;
	--colors-red: #ff6155;
	--colors-grey: #949494;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    margin: 0 auto;
    max-width: 1440px;
    width:100%;
    height: 1080px;
    background-color: var(--colors-blue-700);
    display: flex;
    align-items: center;
}
.main-container{
    margin: 0 auto;
    border-radius: 36px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    max-width: 904px;
    width: 100%;
    height: 641px;
    display: flex;
    justify-content: space-between;
    background-color: var(--colors-white);
    
}
.main-info{
    max-width: 376px;
    width:100%;
    height: 450px;
    margin-top: 70px;
}
.img-container img{
    margin-top: 93px;
    max-width: 400px;
    width: 100%;
    height: 407px;
}
.img-container{
    border: 0px solid #19182b;
    border-radius: 16px;
    width: 400px;
    height: 593px;
    background: linear-gradient(90deg, #ff6a3a 0%, #ff527b 100%);
}
#email-input{
    padding: 16px 24px;
    max-width: 376px;
    width: 100%;
    height: 56px;
    border-radius:10px;
    font-family: var(--lang);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--colors-grey);
}
#btn{
    margin-top: 24px;
    border-radius: 8px;
    max-width: 376px;
    width:100%;
    height: 56px;
    background: var(--colors-blue-800);
    font-family: var(--lang);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--colors-white);
}
h1{
    font-family: var(--lang);
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    color: var(--colors-blue-800);
    margin-bottom: 32px;
}
p{
    font-family: var(--lang);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--colors-blue-800);
}
#email{
    font-family: var(--lang);
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: var(--colors-blue-800);
}
.advantage{
    display: flex;
}
.about-advantages{
    margin-top: 32px;
}
.email-cont{
    margin-top: 32px;
}
.advantage:nth-of-type(2){
    margin-top: 8px;
    margin-bottom: 8px;
}