@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --lang: Roboto;
    --colors-white: #fff;
	--colors-black: #000;
	--colors-blue-800: #242742;
	--colors-blue-700: #36384d;
	--colors-red: #ff6155;
	--colors-grey: #949494;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--colors-blue-700);
    display: flex;
    align-items: center;
}
main{
    margin: 0 auto;
    width: 100%;
}
.main-container{
    margin: 0 auto;
    border-radius: 36px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    max-width: 904px;
    width: 100%;
    height: 641px;
    display: flex;
    justify-content: space-between;
    background-color: var(--colors-white);
    
}
.main-info{
    max-width: 376px;
    width:100%;
    height: 450px;
    margin-top: 70px;
}
.img-container img{
    margin-top: 93px;
    max-width: 400px;
    width: 100%;
    height: 407px;
}
.img-container{
    border: 0px solid #19182b;
    border-radius: 16px;
    width: 400px;
    height: 593px;
    background: linear-gradient(90deg, #ff6a3a 0%, #ff527b 100%);
}
#email-input{
    padding: 16px 24px;
    max-width: 528px;
    width: 100%;
    height: 56px;
    border-radius:10px;
    font-family: var(--lang);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--colors-grey);
}
#btn{
    margin-top: 24px;
    border-radius: 8px;
    max-width: 528px;
    width:100%;
    height: 56px;
    background: var(--colors-blue-800);
    font-family: var(--lang);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--colors-white);
    transition: 0.7s;
    cursor: pointer;
}
h1{
    font-family: var(--lang);
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    color: var(--colors-blue-800);
    margin-bottom: 32px;
}
p{
    font-family: var(--lang);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--colors-blue-800);
}
#email{
    font-family: var(--lang);
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: var(--colors-blue-800);
    width:76px;
}
.advantage{
    display: flex;
}
.about-advantages{
    margin-top: 32px;
}
.email-cont{
    margin-top: 32px;
}
.advantage p{
    padding-left: 16px;
}
.advantage:nth-of-type(2){
    margin-top: 8px;
    margin-bottom: 8px;
}
#btn:hover{
    box-shadow: 0 16px 32px 0 rgba(255, 97, 85, 0.5);
    background: linear-gradient(90deg, #ff6a3a 0%, #ff527b 100%);
    
}

.email-and-error{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#email-form{
    margin-top: 8px;
}
#error-message{
    display:none;
    font-family: var(--lang);
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: right;
    color: var(--colors-red);
    width: fit-content;
}
.invalid-input{
    border: 1px solid var(--colors-red);
    background: #ffe7e6
}
@media(max-width:768px) {
    main{
        height:100vh;
        align-items: center;
    }
    .main-container{
        border-radius: 36px;
        padding: 40px;
        max-width: 608px;
        width:100%;
        height: 878px;
        
    }
    .main-info{
        margin: 0;
        padding-top: 380px;
        max-width: 528px;
        width: 100%;
        height: 394px;
        position: absolute;
    }
    .main-info p{
        max-width:528px;
        width: 100%;
      
    }
    h1{
        max-width:528px;
        width:100%;
        
    }
    .about-advantages{
        max-width:528px;
        width:100%;
        margin-top: 24px;
    }
    .email-cont{
        max-width:528px;
        width:100%;
        margin-top: 24px;
    }
    .img-container{
        max-width:528px;
        width:100%;
        height:358px;
        position: relative;
    }
    .img-container img{
        height:358px;
        max-width:528px;
        width:100%;
        margin: 0;
    }
    #email-form{
        margin-top: 24px;
        max-width:528px;
        width:100%
    }
    #email-input{
        padding: 16px 24px;
        max-width:528px;
        width:100%;
        height: 56px;
    }
    
}
@media(max-width:400px){
    body{
        background-color: #fff;
    }
    .img-container{
        border-radius: 0;
    }
    .main-container{
        padding: 0;
    }
    .main-info{
        padding-left: 24px;
        padding-right: 24px;
    }
}